<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
	<link rel="stylesheet" type="text/css" href='base/styles.css'>
</head>
<body>
<div id="main">
	<h1>Этот сайт написал <b>Александр Наумов</b></h1>
    <p>Исходный код находится <a href='https://github.com/headshoter13/HW-Python/tree/master/mystem_verb'>здесь</a>.
    <p>На этом сайте можно доступны различные функции:</p>
    <ul>
        <li><a href="/verb_page">Получить разбор глаголов</a></li>
        <li><a href="/vk_info">Получить участников открытой группы ВК </a></li>
    </ul>
</p>
<div id="meme_div"><img src='base/meme.png' id="meme"></img></div>
</div>
</body>
</html>